
/* Color styles
================================================== */
.btn-main:hover{
    background:#2fbece;
    border:1px solid#2fbece;
    color: #fff;
}
.btn-main.featured{
    background: #2fbece;
    border:1px solid#2fbece;
    color: #fff;
}
.btn-main.featured:hover{
    background: #333;
    color:#fff;
    border:1px solid#333;
}
/*Menu style
==================================*/
#section_header #section_header{
    background: #fff;
}
.divider{
    background: #2fbece;
    }
.navbar-brand:hover{
    color:#2fbece;
}
ul.navbar-nav > .active > a{
    color:#2fbece!important;
}
ul.navbar-nav > li > a:hover{
    color:#2fbece!important;
}
ul.navbar-nav > .active > a,ul.navbar-nav > li > a:hover,.carousel-caption h4{
    color:#2fbece!important;
}
.navbar-toggle .icon-bar{
    background:#000; 
}
.navbar-toggle {
    background: #ccc;
}

.navbar-brand span{
    color:#000;
}
ul.navbar-nav a {
    color: #3a3a3a; 
}
ul.navbar-nav > .active> a:hover{
    color:#000 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
    color: #2fbece !important;
}
/*slider*/
.carousel-caption h3{
    color:#fff!important;
}

.line{
    background: #2fbece;
}

.btn-featured{
    background: #2fbece;
     color:#fff;
}
.btn-featured:hover{
    color: #222;
    background: #fff;
}
.slides-control .carousel-control i{
    border:1px solid#fff;
    color: #fff;
	display:none;
}
.slides-control  .carousel-control i:hover{
    background: #2fbece;
    border:1px solid#2fbece;
}
.carousel-indicators .active, .carousel-indicators li:hover,.slides-control  .carousel-indicators .active{
    background-color:#2fbece;
}


/*service area
=========================*/
.feature_content i,.feature_content h5,.feature_content a{
    color:#000!important;
}
.feature_content a:hover{
    color:#fff;
}
.feature_content:hover i,.feature_content:hover  h5{
      color: #2fbece!important;
}
#isotope-filter a.active,#isotope-filter a:hover,#isotope-filter a:focus{
    background: #2fbece;
}
.feature-icon{
    color: #2fbece;
}
#isotope-filter a{
background: #000;
}

/*Pricing
=====================================*/
.dark-bg{
    background:#393A3B;
}
.dark_bg{
    background:#393A3B;
}
.grey_bg ul li.plan, .grey_bg .plan_wraper,.grey_bg ul li.price,.grey_bg ul li.price_button .btn-default{
   background: #2fbece!important;
}

.dark_bg,.single_table ul li.plan,.dark_bg ul li.plan,.dark_bg ul li.price_button .btn-default,.single_table .plan_wraper
,.dark_bg .plan_wraper
 {
     background: #434343;
}
.grey_bg {
    background: #2fbece;
}
.single_table ul li.price {
    background: #F8F8F8!important;
}
.single_table ul li.price_button,.dark_bg ul li.price_button  {
    background: #F6F6F6;
}
.single_table ul li.price_button .btn-default {
    background: #444444;
}
.dark_bg ul li.price {
    color: #434343;
}

#pricing_table .feature_title,#pricing_table .feature_sub{
    color: #fff!important;
}

/*portfolio
=================*/
.single-portfolio figcaption,.single-portfolio figcaption .description{
    background: none repeat scroll 0% 0% #2fbece;
}
.single-portfolio figcaption .description,.single-portfolio figcaption h5{
      color: #fff!important;
}
figcaption .links a:hover{
    background: #222;
    color: #2fbece;
}
#isotope-filter a{
    color:#959595;
}
#isotope-filter a.active,#isotope-filter a:hover,#isotope-filter a:focus{
    color:#fff!important;
}
.feature-content{
    color: #222;
}


/*single portfolio
------------------*/
.portfolio-desc h4:after{
    background: #2fbece;
}
.right-sidebar h4:after{
    background: #2fbece;
}
.related h3:after{
    background:#2fbece;
}


/*team
=================*/

#team {
    background: #FAFAFA;
}
.single-member {
    background: #fff;
}

.item .single-member h3 {
    color: #2fbece!important;
}
.single-member h5 {
    color: #1F1F1F;
}
.line2{
    background: #2fbece;
}
.overlay-effect{
    background: rgba(209,66,51,0.95);
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev
,#team .owl-theme .owl-controls .owl-buttons .owl-next{
    background: #2fbece;
    color: #fff;
}
 #team .owl-theme .owl-controls .owl-buttons .owl-prev:hover
,#team .owl-theme .owl-controls .owl-buttons .owl-next:hover {
   background: #ccc;
   color: #222;
}


/*testimonial
=========================*/
.testimonial-slide .testimonial-text:before,.testimonial-slide .testimonial-text:after {
    color: #2fbece;
}

.testimonial-slide .testimonial-content h3.name {
    color: #FFFFFF!important;
}
.customNavigation .fa-chevron-left, .customNavigation .fa-chevron-right{ 
    background: #2fbece;
    color: #fff!important;
}
.customNavigation .fa-chevron-left:hover, .customNavigation .fa-chevron-right:hover{ 
      background: #444;
    color: #fff;
}
.customNavigation .fa-chevron-left, .customNavigation .fa-chevron-right{ 
    color: #222;
}

.client_logo img:hover{ 
    border: 1px solid #2fbece;
}


.sepTem{
    background: none repeat scroll 0% 0% #2fbece;
}

.menu_head:after,.menu_head:before{
    background: none repeat scroll 0% 0% #2fbece;
}

.footer_menu_contact li i,.footer_menu_contact li span:hover {
    color:#2fbece;
}

.footer_menu ul li a:hover,.footer_menu li a:before,.footer_menu_contact li span:hover,.footer_bottom p span  {
    color: #2fbece;
}
.tags a:hover{
    background:#2fbece;
}

.feature_content a{
    border:1px solid#2fbece;
}
.feature_content a:hover{
    background: #2fbece;
}

/*contact area
===============================================*/
.left_contact input[type=text]{ }
.left_contact input[type=text]:hover,
textarea:hover {
    border: 1px solid#2fbece;
}

.form-level input:hover .form-level  span{
    color: #2fbece!important;
}
.left_contact input:hover, .right textarea:hover{
    border:1px solid#2fbece;
    background: #F6F6F6;
    color: #2fbece;
}
.social-contact li i:hover{
    color: #2fbece;
    border:1px solid #2fbece;
}
/*blog
=====================*/
#blog{
    background: #F8F8F8;
}
.post-date{
    background:#2fbece;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0% 0% #2fbece;
}

.blog-desc .post-meta-links li a{
    color: #2fbece;
}
.tags1 a{
    padding: 6px 15px;
    background: #2fbece;
}
.about-auther .well{
    border-top: 5px solid#2fbece!important;
}
.blog-tab .nav-tabs li.active a{
    border-top: 5px solid#2fbece!important;
}

.blog-tab .tab-content .single-tweet i{
    color: #2fbece;
}
.blog-tab .tab-content .single-tweet p a{
    color: #2fbece;
}
.comments .media-body a:hover{
    background: #2fbece;
}
.blog-form h4 span{
    color: #2fbece;
}
.blog-catagory ul li a:hover{
    color: #2fbece;
}
.blog-catagory ul li a:hover span{
    color: #fff;
    background: #2fbece;
}
.blog-form .form-control:hover{
    border: 1px solid#2fbece;
}
.rel-post .caption h4:hover{
    color: #2fbece;
}
   .dashtitle{float: right;margin-right: 611px;
    margin-top: 37px;}
	
	.offerbtnright{
		
		width: 177px;height: 40px;margin-bottom: -5px;margin-right: -5px;border: none;
		    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    /* border-bottom-right-radius: 0px; */
    border-bottom-left-radius: 0px;
		}
		
		
		.offerbtnleft{width: 180px;
    height: 40px;
    margin-bottom: -5px;
    margin-left: -5px;
    border: none;
	    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    border-bottom-right-radius: 0px;
	}
	
	.cushomemenu{margin-left: -35px;
    width: 632px;
    margin-bottom: 13px;}
	
	.offerbtn{width:126px;margin-top: 2px;
	margin-top: 2px;
    margin-left: -5px;
	margin-right: -4px;
    margin-bottom: -5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;}
	.offerbtn1{width:130px;margin-top: 2px;
	margin-top: 2px;
    margin-left: -5px;
	margin-right: -4px;
    margin-bottom: -2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;}
	.csbtm{border-bottom: 1px solid #dddddd;
	width: 239px;}
	.cusleftmenu{width: 248px;
    margin-left: -20px;
	    border-right: 1px solid #e7e7e7;
		    margin-top: -15px;}
		.nav>li>a {
    position: relative;
    display: block;
    /* padding: 20px 12px;*/
}
.border1{border-right: 1px solid #dddddd;height: 1319px;margin-top: -36px;}
.sidebar-nav ul li a.active{
	background-color: #32c2e5;
    color: #FFFFFF;}
.packgbtnright{
	    width: 128px;
    height: 40px;
    margin-bottom: -5px;
    margin-right: -5px;
    border: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    /* border-bottom-right-radius: 0px; */
    border-bottom-left-radius: 0px;}
	.packgbtnleft {
    width: 123px;
    height: 40px;
    margin-bottom: -5px;
    margin-left: -5px;
    border: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    border-bottom-right-radius: 0px;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
      height: 34px;
    min-width: 16px;
    padding: 5px 8px;
   
    margin-top: -34px;
  font-size: 23px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: 128px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: 128px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
.socbtnlogin{width: 170px;
    font-size: 11px;}
	.breadcrumbsleft{
		/*margin-left:30px;*/}
		.arra1{
			width:174px;}
			
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
 /* margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #32c2e5;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #32c2e5;
  background-image: #32c2e5;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #32c2e5;
}

div.bhoechie-tab-content{
 /* background-color: #ffffff;
  border: 1px solid #eeeeee; 
  padding-left: 20px;
  padding-top: 10px;*/
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
