/* Responsive styles
================================================== */
body{
	margin-left:0;
	margin-right:0;}

/* Large Devices, Wide Screens */
@media (min-width : 1100px) {
	.csbtm{border-bottom: 1px solid #dddddd;
	}
	
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {

		.container .grid_3{}
	/*ul.navbar-nav a {
    	padding: 15px 0px 10px 19px;
	}*/
	/*portfolio*/
	
	.single-portfolio figcaption .links a {
	    float: left;
	    margin: 0px 5px 0px 0px;
	}
	
}

/* all device */
@media (min-width : 320px) and (max-width: 568px){
	#slider_part{
		width:105%;}
		.testo1{margin-bottom: 212px; }
		#service, #pricing_table, #about, #team, #blog, #contact, #testimonial, #portfolio, #video-fact, #about-details{
			padding-top:100px;}
			hr.hrstyle{
				}
				.socbtnlogin{
					width: 100%;
    font-size: 15px;}
	.testo1{ width:100%;
					    margin-left: -230px;}
						.testo{
						width: 40px !important;
						height: 40px !important;
						}
						#pricing_table{
							width:100%;}
							.container .grid_3{
								width:87%;}
								.arra{
									width:80px;;}
	}

@media (max-width : 767px){

.csbtm{width: 100%;}
h1, h2, h3, h4, h5, h6 {
	font-size:28px;

}
.arra2{
	width:41px;}
.offerbtn1{
	width:155px;}
	.offerbtn{
	width:151px;}
	.border1{     height: 572px;
    border-right: none;}
#quote-carousel .carousel-indicators{
	margin-right:0;
	margin-bottom:0;}
.logincen{
	margin-left:0;}
h2{
		font-size:12px;}
		.subtitle{
			font-size:13px;}
			.packgbtnleft{width: 160px;}
			.packgbtnright{width: 143px;}
	.carousel-caption h3 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.carousel-caption p {
	    font-size: 35px;
	    line-height: 45px;
	}
	.carousel-caption h2{
    	font-size: 16px;
		line-height: 34px;
		width: 50%;
	}
	.carousel-caption h2:after{
	    content: "";
	    position: absolute;
	    width: 2px;
	    height: 55px;
	    background: #EE3B24;
	    left: 5px;
	    top: -10px;
	}
	.carousel-caption h2:before{
	    content: "";
	    position: absolute;
	    width: 2px;
	    height: 55px;
	    background: #EE3B24;
	    right: 5px;
	    top: -10px;
	}
	/*main Slider*/
	#slider_part {
    	height: 190px;
    	margin-top: 63px;
		width:105%;
	}
	.copimg{
		width:308px;}
	.carousel-caption {
    	top: 20%;
		    margin-top: -24px;
	}
	.overlay-slide {
		width:100%;
    	height: 100%;
	}
	.carousel-caption p {
	    font-size: 12px;
	    line-height: 14px;
	    margin-top: -13px;
	}
	.carousel-inner{
		width:100%;}
	.carousel-indicators li {
	   /* width: 15px !important;
	    height: 15px !important;*/
	}
	.carousel-indicators {
    	width: 25%;
	}
	.carousel-indicators ol{
		width:50%;}
	.carousel-indicators {
	    left: 67%;
	    bottom: 37%;
	}
	
	.slides-control .carousel-control i {
	    line-height: 15px;
	    font-size: 20px;
	    width: 30px;
	    height: 30px;
		display:none;
	}
	.carousel-control.right {
    	right: 30px;
	}
	.img_border{    padding: 21px;
    border: 1px solid #052756;
    box-sizing: border-box;
    margin-left: 28px;
	margin-bottom:5px;}
	.scrolling .scrolling-logo{
		/* background-color:#13325f;
		    margin-top: -12px; */
	background-color: #13325f;
    margin-top: -80px;
    width: 100%;
    height: 74px;
}
div.abcfixed{
	width:190px;}
	div.fixed{
		bottom:17px;}
	/*header*/
	.getapp{
		left: 186px;
    margin-top: -52px;}
	.getappin{
		width: 189px;}
		.decorated-heading:before, .decorated-heading:after{
			font-size:24px;}
  	.navbar-brand img {
	    height: 55px;
		margin-top: 9px;
	    /* margin-top: -16px; */
	}
	#back-top .btn-primary{    margin-right: 0px;}
	.arrowt li a{    padding: 7px 2px 8px 42px;
	    position: inherit;}
		.tabform{
	 width: 100%; 
    margin-left: 0px; }
.center1{margin-left: 0px;}
	.feature_title {
    	width: 60%;
    	font-size: 30px;
	}
	.thumb-pad5 .thumbnail figure{
		margin: 0 16px 0px 20px;}
	.feature_content .btn-main{
		margin-bottom: 40px;
	}
	
	#service{
		padding-bottom: 0px;
		/* padding-top: 40px;*/
	}
	#back-top .btn-primary {
	height:43px;}
	#back-top .btn-primary span{
		top: 4px;}
	
	/*count*/
	.facts-wrap {
    	margin: 0px auto 65px;
	}

	.video-text {
    	margin-top: 30px;
	}
.container .grid_3{
	width:87%;
	margin-bottom:10px;}
	#newsletter{
		width:100%;}
		#newsletter .success{
			width:100%;}
			#newsletter label{
				width:100%;
				margin-top: 10px;}
				#newsletter .btn-default.btn2{
					    margin-left: 111px;
    margin-top: 10px;}
	#newsletter input{
		
		width:93%;}
		.btn-primary span{font-size:11px;}
		.thumb-pad5{
			width:95%;
			    padding-left: 0;
    padding-right: 15px;}
			.thumb-box3{
				width:101%;
				    background: url(../images/bg/bg.jpg) center 0 fixed no-repeat;}
				.thumb-box2{width:101%;
				    background: url(../images/bg/signup.jpg) center 0 fixed no-repeat;}
				.thumb-box3 .title{
					width:95%;}
					.thumb-box3 .title{
    font: 15px/36px "Open Sans", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 26px;
}
#quote-carousel .carousel-indicators{ margin-left: -224px;}
.navbar-toggle{
	
	    margin-top: 10px;}
		.navbar-brand{    margin-top: -26px;}
	  .bac{
		     margin-left: 100px;}
			 #quote-carousel .carousel-indicators li{
				margin:0px;}
				.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
					
					
    margin-top: 10px;}
	#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
	#quote-carousel .carousel-indicators .active {background: #13325f;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #13325f;
    opacity: 1;
    overflow: hidden;
}
#quote-carousel .carousel-indicators .active{background: #13325f;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #13325f;
    opacity: 1;
    overflow: hidden;}
	
	    #quote-carousel .carousel-indicators li{width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;}
	/*pricing table*/
	.single_table {
    	width: 287px;
	}
	.single_table ul li.price {
   		font-size: 40px;
	}
	.single_table .plan_wraper {
	    height: 64px;
	    left: 38%;
	}
	.single_table ul li {
    font-size: 16px;
	}
	.grey_bg{
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	/*Testimonial */
	.cyprass-carousel-controller {
	    left: 33%;
	}
	.testimonial-slide .testimonial-text {
	    font-size: 14px;
	    padding-top: 20px;
	    text-align: justify;
	    max-width: 431px;
	    padding: 0px 20px 0px 20px;
	}
	/*client*/
	.client_logo {
	    padding: 0px;
	    margin: 0 auto;
	    width: 50%;
	}
	
	#client {
    	padding: 0px 0px;
	}
	
	/*blog*/
	#banner {
	    height: 400px;
	}
	.blog-header {
	    margin-top: 95px;
	}
	#portfolio-slider li img {
	    height: 250px !important;
	}
	.bx-wrapper .bx-controls-direction a {
    	top: 42%;
	}
	.bx-wrapper .bx-viewport {
	    height: 250px !important;
	}
	.bx-wrapper .bx-pager {
    	top: 60%;
	}
	.share1 {
	    height: 88px;
	    padding: 5px 20px 30px 20px;
	}
	.blog-desc{
		margin-top: -90px;
	}

	/*footer*/
	.footer_b {
	    padding-bottom: 21px;
		width:105%;
	}
	.footer_mid{
		float: left !important;
	}
	
	
	/*backt top*/
	#back-top {
    	right: 12px;
	}
.tab-1 form, .register, .reset{
	padding:0px;}
	.logbtn{
	    margin-left: 76px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.panel-default>.panel-heading{
	font-size:11px;}
	#quote-carousel .carousel-control.left{
		left:0;}
		#quote-carousel .carousel-control.right{
			right:30px;}
			
			.breadcrumbs li{
				       margin: 0px -10px 0px 16px;
    /* width: 100%; */
  /*  font-size: 6px;*/
				}.breadcrumbsleft{
					margin-left:0px;}
					
				.breadcrumbs a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
      width: 243px;
    height: 42px;
	margin-left:7px;
	    margin-bottom: 5px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}
.wi{
	width:100%;
				    padding: 0px 0px 0px 14px;
    margin-bottom: 15px;}
	.btncen{
		    margin-left: 67px;
    margin-top: -123px;}
	.revew{
		       padding: 0 0 0 38px;}
	.am{
		margin-left:-22px;}
		.am1{
		margin-left:-10px;}
.footer_top{
	width:105%;}
.breadcrumbs .current{
  background: #003264;
}
.breadcrumbs a:hover{
	background:#32cbff;}

.breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
  margin-left:1px;
}


.breadcrumbs .current::before{
  border-color: #003264 #003264 #003264 transparent;
}

.breadcrumbs a:hover::before{
	border-color: #32cbff #32cbff #32cbff transparent;
	}
.breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
  margin-right: 1px;
}


.breadcrumbs .current::after{
  border-left-color: #003264;
}
.breadcrumbs a:hover::after{
	border-left-color: #32cbff;}
breadcrumbs a:active{
	background: #32cbff;}
	.arr{}
	.arr li{    margin: 0px -10px 0 16px;}
				.arra{
					width:80px;}
					hr.hrstyle {
	    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
hr.hrstyle:after {
	content: 'OR';
    display: inline-block;
    position: relative;
    top: -28px;
    padding: 13px 9px;
	   /* margin-left: 124px;*/
    background: #828282;
    color: #ffffff;
    font-size: 27px;
	border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
	
}


/* ----------------------------------*/

div.vertical-line {
	    height: 1px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
div.vertical-line:after {
	content: 'OR';
    display: inline-block;
    position: relative;
    top: -28px;
       margin-left: 1px;
	   /* margin-left: 124px;*/
    background: #828282;
    color: #ffffff;
    font-size: 27px;
	border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
	
}
div.vertical-line{
	    width: 94%;
    margin-left: 14px;
    background-color: silver;
   
    float: left;
    border: 2px ridge silver;
    border-radius: 2px;
    margin-bottom: 28px;}
/*----------------------------------*/
	.getapp1{
		width:auto;
		}
		#pricing_table{
			width:105%;}
			.carousel-caption h3{
				margin:0;
				}
				#testimonial{
					width:100%;}
				.navbar-fixed-top{}
				.testo1{ width:100%;
					    margin-left: -203px;
						    padding: 0px 0 278px 10px;}
							.item blockquote{margin-top: 63px;}
						.testo{
						width: 70px !important;
						height: 70px !important;
						}
						.container .grid_3{
							width:87%;}
							.arra1{ width: 136px;}
}
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.csbtm{width: 100%;}
	.testo1{margin-bottom: 212px; }
	.navbar-header{
		width: 20%;
	}
	.navbar-brand {
    	height: 48px;
	}
	ul.navbar-nav a {
	    padding: 15px 0px 10px 10px;
	}
	
	/*main Slider*/
	#slider_part {
		
    	height: 530px;
    	margin-top: 70px;
		width:106%;
	}
	.carousel-caption {
    	top: 30%;
	}
	.carousel-indicators img{
		height:60px;}
		.carousel-indicators ol{
			margin-left:10px;}
	
	.carousel-caption h2{
    	font-size: 30px;
		line-height: 55px;
		width: 30%;
		margin-bottom: 40px;
	}
	.carousel-caption h2:after{
	    height: 80px;
	}
	.carousel-caption h2:before{
	    height: 80px;
	}
	.carousel-caption h3 {
	    font-size: 40px;
	    line-height: 30px;
	}
	.carousel-caption p {
	    font-size: 30px;
	    line-height: 45px;
	}
	.overlay-slide {
		width::100%;
    	height: 100%;
	}
	.carousel-indicators {
    	bottom: 15%;
	}
	.carousel-control.right {
    	right: 32px;
	}

	/*ABout us*/
	.feature_content .btn-main{
		margin-bottom: 40px;
	}

	/*portfolio*/
	
	.single-portfolio figcaption .links a {
	    float: left;
	    margin: 0px 5px 0px 0px;
	}
	/*count*/
	.facts-wrap {
    	margin: 0px auto 65px;
	}

	.video-text {
    	margin-top: 30px;
	}

	/*pricing*/
	.pricing{
		margin: 0 auto;
		width: 50%;
	}
	.cyprass-carousel-controller {
	    left: 41%;
	}
	.testimonial-slide .testimonial-text {
	    font-size: 14px;
	    padding-top: 20px;
	    text-align: justify;
	    max-width: 651px;
	    padding: 0px 20px 0px 20px;
	}
	
	/*backt top*/
	#back-top {
    	right: 12px;
	}

	
	/*-- Landing ---*/

	.hero-text{
		width: 95%;
	}
	.hero-title{
		font-size: 36px;
	}
	.hero-buttons a.btn {
		padding: 10px 20px;
	}

	.app-gallery figure.effect-oscar a{
		margin-top: 105px;
	}
	.csbtm{}


}


/* Small Devices Potrait */

	@media (min-width : 768px) and (max-width: 1024px) {
		.csbtm{width: 100%;}
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: 2px;
    width: 180px;
}.container .grid_3{width: 227px;}
		.testo1{margin-bottom: 212px; }
		.container{
			margin-bottom: 11px;
			padding-right: 15px;
    padding-left: 15px;
			}
		#service, #pricing_table, #about, #team, #blog, #contact, #testimonial, #portfolio, #video-fact, #about-details{
			width:100%;
			margin-top:-79px;}
			.container .grid_3{
				width:350px;
				    margin-bottom: 10px;}
			.bac{margin-left: 320px;}
.thumb-box2 {
	width:100%;
	 background: url(../images/bg/signup.jpg) center 0 fixed no-repeat;}
	.thumb-box3{
		width:100%;
		    background: url(../images/bg/bg.jpg) center 0 fixed no-repeat;}
		#slider_part{    height: 432px;
    margin-top: 70px;
    width: 100%;}
	.testo1{
					    margin-left: -230px;}
						.testo{
						width: 40px !important;
						height: 40px !important;
						}
	.packgbtnright{
		width:92px;}
	.packgbtnleft{
		width:97px;}
		.dashtitle{
			margin-right:234px;
		}
		.csbtm{width: 100%;}
		}
		@media (min-width : 414px) and (max-width: 736px) {
			h1, h2, h3, h4, h5, h6{}
			h3{
				font-size:18px;}
				.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{margin-top: 68px;}
				.navbar-fixed-top{
					margin-top:-55px;}
				.thumb-box3 .title{font: 23px/32px "Open Sans", sans-serif;}
			#slider_part{
				width:104%;}
				#service, #pricing_table, #about, #team, #blog, #contact, #testimonial, #portfolio, #video-fact, #about-details{
					width:98%;}
					.bac{
						margin-left:39%;}
						#newsletter{
							width:98%;}	
							.testo1{ width:100%;
					    margin-left: -230px;}
						.testo{
						width: 40px !important;
						height: 40px !important;
						}
		
			}
			@media (min-width : 375px) and (max-width: 667px) {
				.csbtm{width: 100%;}
				
				#slider_part{width: 100%;}
				#service, #pricing_table, #about, #team, #blog, #contact, #testimonial, #portfolio, #video-fact, #about-details{
					width:100%;}
					.container .grid_3{
						width:92%;}
						.thumb-box2{padding: 40px 12px 46px 0px;}
						#newsletter {
    width: 100%;
    margin-left: 5px;
}
.thumb-box3{ padding: 74px 12px 46px 0;}
						#pricing_table{
							width:100%;}
							.thumb-box3 .title{font: 18px/36px "Open Sans", sans-serif;}
							.bac{
								margin-left:120px;}
								
								
					.testo1{ width:100%;
					    margin-left: -230px;}
						.testo{
						width: 40px !important;
						height: 40px !important;
						}
			}
			
		/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media (min-device-width: 320px) and (max-device-width: 568px)
  {
	
}

/* Portrait */
@media (min-width: 320px) 
  and (max-width: 568px)
  {
	  
			
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
