/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */



@media(min-width:767px) {
    .navbar {
      /*  padding: 7px 0; */
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
.navbar-default .navbar-right>li>a{color:#003264;}
.navbar-right>li>a{
			color:#000000;}
    .top-nav-collapse {
        padding: 0;
		background:#13325f;
		
		    height: 77px;
    }
	
	.navbar-brand img{margin-top: 4px;}
	/* .navbar-default .navbar-nav>li>a{color:#FFFFFF} */
	.navbar-right{margin-top:14px;}
	
	.nav>li>a>img{
		/*margin-right:3px;*/}
		
		
}

